@using OnlineJobPortal.Application.DTOs.JobPostDto
@model GetJobPostDetailDto

<link rel="stylesheet" href="~/css/JobDetailPage/jobdetail.css">

<!-- Header End -->
<div class="container-fluid py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h2 class="display-3 text-white mb-3 animated slideInDown text-uppercase">Chi tiết tuyển dụng</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Tìm việc làm</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Chi tiết tuyển dụng</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->

<!-- Job Detail Start -->
<div class="container-xxl wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-12 d-block d-lg-none mb-3">
                <div class="tabs d-flex gap-2 rounded-3">
                    <a class="tab text-white rounded-pill p-2 ms-2 my-2 active" id="tab1">Chi tiết tuyển dụng</a>
                    <a class="tab text-white rounded-pill p-2 my-2" id="tab2">Thông tin chung</a>
                </div>
            </div>

            <div class="col-lg-8 tab-content d-none d-lg-block active" id="content1">
                <div class="bg-light p-4 mb-4 rounded-3">
                    <div class="job-detail__info--title">@Model.Title
                    </div>
                    <div class="d-flex justify-content-between my-4">
                        <div class="job-detail__info--section d-flex flex-column flex-lg-row">
                            <div class="job-detail__info--section-icon">
                                <i class="far fa-money-bill-alt"></i>
                            </div>
                            <div class="job-detail__info--section-content">
                                <div class="job-detail__info--section-content-title">Mức lương</div>
                                <div class="job-detail__info--section-content-value">@Model.Salary</div>
                            </div>
                        </div>
                        <div class="job-detail__info--section d-flex flex-column flex-lg-row">
                            <div class="job-detail__info--section-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="job-detail__info--section-content">
                                <div class="job-detail__info--section-content-title">Địa điểm</div>
                                <div class="job-detail__info--section-content-value">@Model.ProvinceName</div>
                            </div>
                        </div>
                        <div class="job-detail__info--section d-flex flex-column flex-lg-row">
                            <div class="job-detail__info--section-icon">
                                <i class="fa-solid fa-hourglass-half"></i>
                            </div>
                            <div class="job-detail__info--section-content">
                                <div class="job-detail__info--section-content-title">Hạn cuối</div>
                                <div class="job-detail__info--section-content-value">@Model.ExpiredDate</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-4">
                        <button class="text-white btn btn-primary flex-grow-1 rounded-3" data-bs-toggle="modal"
                            data-bs-target="#apply-job-modal"><i class="fa-regular fa-paper-plane pe-2"></i>Ứng tuyển
                            ngay</button>
                        @if (Model.Saved == true)
                        {
                            <button class="text-white btn btn-primary rounded-3 btn-favorite-job"
                                data-job-post-id="@Model.Id"><i class="fa-regular fa-heart pe-2"></i>Lưu tin</button>
                        }
                        else
                        {
                            <button class="text-primary btn btn-outline-primary rounded-3 btn-favorite-job"
                                data-job-post-id="@Model.Id"><i class="fa-regular fa-heart pe-2"></i>Lưu tin</button>
                        }
                    </div>
                </div>


                <div class="bg-light p-4 mb-4 rounded-3">
                    <h5 class="ps-3 mb-4" style="border-left: 7px solid var(--primary);">Chi tiết tuyển dụng</h5>
                    <div class="d-flex flex-column my-2">
                        <p class="fw-bold fs-6 mb-2">Mô tả công việc</p>
                        <div class="">
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <p class="fw-bold fs-6 mb-2">Yêu cầu ứng viên</p>
                        <div class="">
                            @Html.Raw(Model.Requirement)
                        </div>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <p class="fw-bold fs-6 mb-2">Quyền lợi</p>
                        <div class="">
                            @Html.Raw(Model.Benefits)
                        </div>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <p class="fw-bold fs-6">Địa điểm làm việc</p>
                        <div class="">
                            @Model.Address
                        </div>
                    </div>
                    <div class="d-flex gap-4 py-3">
                        <button class="btn btn-primary rounded-3" data-bs-toggle="modal"
                            data-bs-target="#apply-job-modal">Ứng tuyển ngay</button>
                        @if (Model.Saved == true)
                        {
                            <button class="text-white btn btn-primary rounded-3 btn-favorite-job"
                                data-job-post-id="@Model.Id">Lưu tin</button>
                        }
                        else
                        {
                            <button class="text-primary btn btn-outline-primary rounded-3 btn-favorite-job"
                                data-job-post-id="@Model.Id">Lưu tin</button>
                        }
                    </div>
                    <p>Hạn cuối: @Model.ExpiredDate</p>
                </div>

            </div>
            <div class="col-lg-4 tab-content d-none d-lg-block" id="content2">
                <div class="p-4 mb-4 bg-light rounded-3">
                    <div class="job-detail__company d-flex flex-column gap-3">
                        <div class="d-flex gap-4">
                            @{
                                var logoUrl = Model.Company.LogoUrl;
                                logoUrl = "~" + logoUrl.Substring(1);
                            }
                            <a asp-area="" asp-controller="Company" asp-action="CompanyDetail"
                                asp-route-id="@Model.Company.Id" target="_blank" class="job-detail__company-logo">
                                <img class="img-responsive" src=@logoUrl alt="" asp-append-version="true">
                            </a>
                            <a asp-area="" asp-controller="Company" asp-action="CompanyDetail"
                                asp-route-id="@Model.Company.Id" target="_blank"
                                class="job-detail__company-name">@Model.Company.CompanyName</a>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="job-detail__company-title flex-shrink-0"><i
                                    class="fa-solid fa-location-dot pe-2 text-primary"></i><span>Địa điểm</span></div>
                            <div class="job-detail__company-value">@Model.Company.Address</div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="job-detail__company-title flex-shrink-0"><i
                                    class="fa-solid fa-globe pe-2 text-primary"></i><span>Website</span></div>
                            <div class="job-detail__company-value"><a>@Model.Company.WebsiteUrl</a></div>
                        </div>
                    </div>
                </div>
                <div class="p-4 mb-4 bg-light rounded-3">
                    <div class="job-detail__company d-flex flex-column gap-3">
                        <h5>Thông tin chung</h5>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="job-detail__info--section-icon text-white">
                                <i class="fa-solid fa-medal"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="m-0">Cấp bậc</p>
                                <p class="m-0 fw-bold">@Model.RequirementSkills.First().Level</p>
                            </div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="job-detail__info--section-icon text-white">
                                <i class="fa-solid fa-hourglass-half"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="m-0">Kinh nghiệm</p>
                                <p class="m-0 fw-bold">@Model.YearsOfExperience</p>
                            </div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="job-detail__info--section-icon text-white">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="m-0">Số lượng tuyển</p>
                                <p class="m-0 fw-bold">@Model.NumberOfRecruits người</p>
                            </div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="job-detail__info--section-icon text-white">
                                <i class="fa-solid fa-briefcase"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="m-0">Hình thức làm việc</p>
                                <p class="m-0 fw-bold">@Model.EmploymentType</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 mb-4 bg-light rounded-3">
                    <div class="job-detail__company d-flex flex-column gap-3">
                        <h5 class="mb-0">Danh mục</h5>
                        <div class="d-flex mb-3">
                            <a href="" class="text-dark px-2 rounded-pill" target="_blank"
                                style="background-color: #f1eeee;">@Model.JobType.JobTypeName</a>
                        </div>
                        <h5 class="mb-0">Kỹ năng</h5>
                        <div class="d-flex flex-wrap gap-3">
                            @{
                                foreach (var item in Model.RequirementSkills)
                                {
                                    <a href="" class="text-dark px-2 rounded-pill" target="_blank"
                                        style="background-color: #f1eeee;">@item.Skill.SkillName</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="apply-job-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header shadow-sm">
                <h5 class="modal-title" id="staticBackdropLabel">Ứng tuyển <span id="job-post-title"
                        class="text-primary"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body shadow-sm">
                <div class="d-flex flex-column gap-3">
                    <div class="fw-bold"><i class="fa-regular fa-folder-open text-primary me-2"></i> Chọn CV ứng tuyển:
                    </div>
                    <div role="button" class="border rounded-3 p-2">
                        <input id="cv-it-jobs" class="form-check-input" type="radio" name="radio-cv" value="0" checked>
                        <label class="ms-3">
                            Sử dụng CV online của IT Jobs
                        </label>
                    </div>
                    <div class="border rounded-3 p-2">
                        <div class="d-flex">
                            <input id="others-cv" class="form-check-input" type="radio" value="1" name="radio-cv">
                            <label role="button" class="ms-3">
                                Tải CV từ máy tính
                            </label>
                        </div>
                        <div>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div><i class="fa-solid fa-5x fa-cloud-arrow-up text-primary"></i></div>
                                <p>Hỗ trợ định dạng .doc, .docx, pdf có kích thước dưới 5MB</p>
                                <div>
                                    <input class="form-control" id="upload-cv" type="file" accept=".pdf, .doc, .docx"
                                        style="background-color: #fff !important;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fw-bold"><i class="fa-solid fa-feather text-primary me-2"></i>Thư giới thiệu</div>
                    <textarea class="form-control rounded-3" id="cover-letter" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-cancel" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn-save" data-job-post-id="@Model.Id">Ứng tuyển</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            const tabs = $('.tab');
            const tabContents = $('.tab-content');

            tabs.click(function () {
                tabs.removeClass('active');
                tabContents.removeClass('active');

                const tabId = $(this).attr('id');

                $(this).addClass('active');
                $('#' + tabId.replace('tab', 'content')).addClass('active');
            });

            $(document).on("click", ".btn-favorite-job", function () {
                let btn = $(".btn-favorite-job");
                var jobPostId = btn.data("job-post-id");

                if (btn.hasClass("btn-primary")) {
                    btn.removeClass("btn-primary");
                    btn.addClass("btn-outline-primary");

                    btn.removeClass("text-white");
                    btn.addClass("text-primary");

                    toastr.warning("Bỏ lưu tin tuyển dụng");

                    deleteFavorite(jobPostId);
                } else {
                    btn.removeClass("btn-outline-primary");
                    btn.addClass("btn-primary");

                    btn.removeClass("text-primary");
                    btn.addClass("text-white");

                    toastr.success("Đã lưu lại tin tuyển dụng");

                    favoriteJob(jobPostId);
                }
            });

            function favoriteJob(jobPostId) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: { jobId: jobPostId },
                    url: "/Apply/FavoriteJob",
                });
            }

            function deleteFavorite(jobPostId) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: { jobId: jobPostId },
                    url: "/Apply/DeleteFavorite",
                });
            }

            $(document).on("click", ".btn-apply-job", function (e) {
                e.preventDefault();
                let btnApplyJob = $(this);
                let jobId = btnApplyJob.data("job-post-id");
                let title = btnApplyJob.data("job-post-title");
                console.log(title, jobId);
                applyJobModal.find("#job-post-title").text(title);
                $(".btn-save").data("job-post-id", jobId);
            });

            var cvFile = null;
            $("#upload-cv").change(function (e) {
                if (e.target.files.length > 0) {
                    cvFile = e.target.files[0];
                }
            });

            $(document).on("click", ".btn-save", function (e) {
                let btnSave = $(this);
                let jobId = btnSave.data("job-post-id");
                let formData = new FormData();
                formData.append("jobPostId", jobId);
                formData.append("coverLetter", $("#cover-letter").val());
                if ($("input[name='radio-cv']:checked").val() == 0) {
                    formData.append("cv", null);
                } else {
                    formData.append("cv", cvFile);
                    if (cvFile == null) {
                        toastr.warning("Vui lòng chọn CV trước");
                        return;
                    }
                }
                callAjaxToApplyJob(formData);
            });

            function callAjaxToApplyJob(formData) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    data: formData,
                    url: "/Apply/ApplyJob",
                    success: function (res) {
                        $(".btn-cancel").trigger("click");
                        $(".modal-body input, .modal-body textarea").val("");
                        if (res.success) {
                            toastr.success("Đã gửi hồ sơ đến nhà tuyển dụng");
                        } else {
                            toastr.warning("Bạn đã ứng tuyển công việc này trước đó");
                        }
                    },
                    error: function (err) { }
                });
            }

        });
    </script>
}
