@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using OnlineJobPortal.Application.DTOs.JobPostDto
@model GetJobPostDetailDto

<link rel="stylesheet" href="~/css/JobDetailPage/jobdetail.css">

<!-- Header End -->
<div class="container-fluid py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h2 class="display-3 text-white mb-3 animated slideInDown text-uppercase">Chi tiết tuyển dụng</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Tìm việc làm</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Chi tiết tuyển dụng</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->

<!-- Job Detail Start -->
<div class="container-xxl wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-12 d-block d-lg-none mb-3">
                <div class="tabs d-flex gap-2 rounded-3">
                    <a class="tab text-white rounded-pill p-2 ms-2 my-2 active" id="tab1">Chi tiết tuyển dụng</a>
                    <a class="tab text-white rounded-pill p-2 my-2" id="tab2">Thông tin chung</a>
                </div>
            </div>

            <div class="col-lg-8 tab-content d-none d-lg-block active" id="content1">
                <div class="bg-light p-4 mb-4 rounded-3">
                    <div class="job-detail__info--title">@Model.Title
                    </div>
                    <div class="d-flex justify-content-between my-4">
                        <div class="job-detail__info--section d-flex flex-column flex-lg-row">
                            <div class="job-detail__info--section-icon">
                                <i class="far fa-money-bill-alt"></i>
                            </div>
                            <div class="job-detail__info--section-content">
                                <div class="job-detail__info--section-content-title">Mức lương</div>
                                <div class="job-detail__info--section-content-value">@Model.Salary</div>
                            </div>
                        </div>
                        <div class="job-detail__info--section d-flex flex-column flex-lg-row">
                            <div class="job-detail__info--section-icon">
                                <i class="far fa-money-bill-alt"></i>
                            </div>
                            <div class="job-detail__info--section-content">
                                <div class="job-detail__info--section-content-title">Địa điểm</div>
                                <div class="job-detail__info--section-content-value">@Model.ProvinceName</div>
                            </div>
                        </div>
                        <div class="job-detail__info--section d-flex flex-column flex-lg-row">
                            <div class="job-detail__info--section-icon">
                                <i class="far fa-money-bill-alt"></i>
                            </div>
                            <div class="job-detail__info--section-content">
                                <div class="job-detail__info--section-content-title">Hạn cuối</div>
                                <div class="job-detail__info--section-content-value">@Model.ExpiredDate</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-4">
                        <button class="text-white btn btn-primary flex-grow-1 rounded-3"><i
                                class="fa-regular fa-paper-plane pe-2"></i>Ứng tuyển ngay</button>
                        <button class="text-primary btn btn-outline-primary rounded-3"><i
                                class="fa-regular fa-heart pe-2"></i>Lưu tin</button>
                    </div>
                </div>


                <div class="bg-light p-4 mb-4 rounded-3">
                    <h5 class="ps-3 mb-4" style="border-left: 7px solid var(--primary);">Chi tiết tuyển dụng</h5>
                    <div class="d-flex flex-column my-2">
                        <p class="fw-bold fs-6 mb-2">Mô tả công việc</p>
                        <div class="">
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <p class="fw-bold fs-6 mb-2">Yêu cầu ứng viên</p>
                        <div class="">
                            @Html.Raw(Model.Requirement)
                        </div>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <p class="fw-bold fs-6 mb-2">Quyền lợi</p>
                        <div class="">
                            @Html.Raw(Model.Benefits)
                        </div>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <p class="fw-bold fs-6">Địa điểm làm việc</p>
                        <div class="">
                            @Model.Address
                        </div>
                    </div>
                    <div class="d-flex gap-4 py-3">
                        <button class="btn btn-primary rounded-3">Ứng tuyển ngay</button>
                        <button class="text-primary btn btn-outline-primary rounded-3">Lưu tin</button>
                    </div>
                    <p>Hạn cuối: @Model.ExpiredDate</p>
                </div>

            </div>
            <div class="col-lg-4 tab-content d-none d-lg-block" id="content2">
                <div class="p-4 mb-4 bg-light rounded-3">
                    <div class="job-detail__company d-flex flex-column gap-3">
                        <div class="d-flex gap-4">
                            @{
                                var logoUrl = Model.Company.LogoUrl;
                                logoUrl = "~" + logoUrl.Substring(1);
                            }
                            <a asp-area="" asp-controller="Company" asp-action="CompanyDetail" asp-route-id="@Model.Company.Id" target="_blank" class="job-detail__company-logo">
                                <img class="img-responsive" src=@logoUrl alt="" asp-append-version="true">
                            </a>
                            <a asp-area="" asp-controller="Company" asp-action="CompanyDetail" asp-route-id="@Model.Company.Id" target="_blank" class="job-detail__company-name">@Model.Company.CompanyName</a>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="job-detail__company-title flex-shrink-0"><i
                                    class="fa-solid fa-location-dot pe-2 text-primary"></i><span>Địa điểm</span></div>
                            <div class="job-detail__company-value">@Model.Company.Address</div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="job-detail__company-title flex-shrink-0"><i
                                    class="fa-solid fa-globe pe-2 text-primary"></i><span>Website</span></div>
                            <div class="job-detail__company-value"><a>@Model.Company.WebsiteUrl</a></div>
                        </div>
                    </div>
                </div>
                <div class="p-4 mb-4 bg-light rounded-3">
                    <div class="job-detail__company d-flex flex-column gap-3">
                        <h5>Thông tin chung</h5>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="job-detail__info--section-icon text-white">
                                <i class="fa-solid fa-medal"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="m-0">Cấp bậc</p>
                                <p class="m-0 fw-bold">@Model.RequirementSkills.First().Level</p>
                            </div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="job-detail__info--section-icon text-white">
                                <i class="fa-solid fa-hourglass-half"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="m-0">Kinh nghiệm</p>
                                <p class="m-0 fw-bold">@Model.YearsOfExperience</p>
                            </div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="job-detail__info--section-icon text-white">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="m-0">Số lượng tuyển</p>
                                <p class="m-0 fw-bold">@Model.NumberOfRecruits người</p>
                            </div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div class="job-detail__info--section-icon text-white">
                                <i class="fa-solid fa-briefcase"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="m-0">Hình thức làm việc</p>
                                <p class="m-0 fw-bold">@Model.EmploymentType</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 mb-4 bg-light rounded-3">
                    <div class="job-detail__company d-flex flex-column gap-3">
                        <h5 class="mb-0">Danh mục</h5>
                        <div class="d-flex mb-3">
                            <a href="" class="text-dark px-2 rounded-pill" target="_blank"
                                style="background-color: #f1eeee;">@Model.JobType.JobTypeName</a>
                        </div>
                        <h5 class="mb-0">Kỹ năng</h5>
                        <div class="d-flex flex-wrap gap-3">
                            @{
                                foreach (var item in Model.RequirementSkills)
                                {
                                    <a href="" class="text-dark px-2 rounded-pill" target="_blank"
                                        style="background-color: #f1eeee;">@item.Skill.SkillName</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            const tabs = $('.tab');
            const tabContents = $('.tab-content');

            tabs.click(function () {
                tabs.removeClass('active');
                tabContents.removeClass('active');

                const tabId = $(this).attr('id');

                $(this).addClass('active');
                $('#' + tabId.replace('tab', 'content')).addClass('active');
            });
        });
    </script>
}
<!-- Job Detail End -->
