@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ChangePasswordViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

<div class="container py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">

        <div class="row justify-content-around gy-5 gx-4">
            <div class="col-lg-6">
                <form method="post" asp-area="" asp-controller="Auth" asp-action="ChangePassword">
                    <h2 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Đổi mật khẩu</h2>
                    <div class="row align-items-center g-3">
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="password" class="form-control rounded" asp-for="@Model.CurrentPassword"
                                    placeholder="Your Email">
                                <label asp-for="@Model.CurrentPassword">Mật khẩu hiện tại</label>
                                <span class="text-danger" asp-validation-for="@Model.CurrentPassword"
                                    autocomplete="off"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="password" class="form-control rounded" asp-for="@Model.NewPassword"
                                    placeholder="Subject">
                                <label asp-for="@Model.NewPassword" autocomplete="off">Mật khẩu mới</label>
                                <span class="text-danger" asp-validation-for="@Model.NewPassword"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="password" class="form-control rounded" asp-for="@Model.ConfirmPassword"
                                    placeholder="Subject" autocomplete="off">
                                <label asp-for="@Model.ConfirmPassword">Nhập lại mật khẩu</label>
                                <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary rounded py-2 px-4" type="submit">Xác nhận</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <div class="row">
                        <div class="col-4 h-100">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/800px-User_icon_2.svg.png"
                                alt="" class="" style="width: 80px; height: 80px">
                        </div>
                        <div class="col-8 h-75">
                            <span>Chào mừng bạn trở lại,</span>
                            <p class="fw-bold" id="Fullname">Candidate</p>
                            <span class="badge badge__primary" id="isActive">Tài khoản đã xác thực</span>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                    <h4 class="mb-4">Tiểu sử</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Ngày tham gia: <span id="CreateAt"></span></p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Email: <span id="Email"></span></p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>SĐT: <span id="PhoneNumber"></span></p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Địa chỉ: <span id="Address"></span></p>
                    <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Đã ứng tuyển:
                        <span id="ApplyJobNumber">0</span> công việc</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
@{
    if (ViewBag.PasswordChangeFailed != null && ViewBag.PasswordChangeFailed)
    {
        <script>
            toastr.options = {
                timeOut: 2500,
                positionClass: "toast-bottom-center"
            };
            toastr.warning('Sai mật khẩu. Vui lòng thử lại.');
        </script>
    }
}
@section Scripts {

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "get",
                dataType: "json",
                url: "/Auth/GetInfo",
                success: function (res) {
                    $("#Fullname").text(res.fullName);
                    $("#Email").text(res.user.email);
                    $("#CreateAt").text(res.createAt.slice(0,10));
                    if(res.phoneNumber != null && res.address != null){
                        $("#isActive").text("Tài khoản đã xác thực");
                    }else{
                        $("#isActive").removeClass("badge__primary");
                        $("#isActive").addClass("badge__new");
                        $("#isActive").text("Tài khoản chưa xác thực")
                    }
                    if(res.phoneNumber != null){
                        $("#PhoneNumber").text(res.user.phoneNumber);
                    }
                    else{
                        $("#PhoneNumber").text("Chưa cập nhật");
                    }
                    if (res.address != null) {
                        $("#Address").text(res.address);
                    } else {
                        $("#Address").text("Chưa cập nhật địa chỉ");
                    }

                },
                error: function (err) {

                }
            });
        });
    </script>
}