@using OnlineJobPortal.Domain.Entities
@model JobPost?
<link rel="stylesheet" href="~/css/JobDetailPage/jobdetail.css">
<style>
    .section a {
        color: #333
    }

    .section a.active {
        color: #5b99ea;
        border-bottom: 3px solid #5b99ea;
    }

    .list-group .list-group-item div .fa-caret-right {
        rotate: 0deg;
        transition: transform 0.5s ease;
    }

    .list-group .list-group-item.active div .fa-caret-right {
        transform: rotate(90deg);
    }

    .ck-editor__editable {
        min-height: 250px;
    }
</style>

<div class="row g-3">
    <div class="col-12 bg-white rounded-3">
        <div class="d-flex p-3 justify-content-between border-bottom">
            <div class="d-flex flex-column">
                <h5>@Model?.Title</h5>
                <div>@Model?.EmploymentType.ToString()</div>
                <div>@Model?.Address</div>
            </div>
            <div>
                Đang có <span class="text-primary fw-bold">@Model?.Applications?.Count</span> ứng viên
            </div>
        </div>
        <div class="d-flex justify-content-around section" role="tablist">
            <a role="button" class="py-3 mb-1 flex-grow-1 text-center active btn-change-section" id="applicant-section"
                data-bs-toggle="tab" data-bs-target="#applicant-section-content" type="button" role="tab"
                aria-controls="applicant-section-content" aria-selected="true">Ứng viên</a>
            <a role="button" class="py-3 mb-1 flex-grow-1 text-center btn-change-section" id="job-post-section"
                data-bs-toggle="tab" data-bs-target="#job-post-section-content" type="button" role="tab"
                aria-controls="job-post-section-content" aria-selected="false">Chi tiết
                tuyển dụng</a>
        </div>
    </div>
    <div class="col-12 bg-white rounded-3 tab-content">
        <div class="tab-pane fade show active" id="applicant-section-content" role="tabpanel"
            aria-labelledby="applicant-section">
            <div class="d-flex flex-column p-3 ">
                <div class="d-flex align-items-center border-bottom py-3">
                    <div class="m-0 p-0 d-flex gap-3" role="tablist">
                        <a class="btn btn-outline-info active" id="applicant-tab" data-bs-toggle="tab"
                            data-bs-target="#applicant-tab-content" type="button" role="tab"
                            aria-controls="applicant-tab-content" aria-selected="true">Tất cả ứng viên</a>
                        <a class="btn btn-outline-info" id="suggest-tab" data-bs-toggle="tab"
                            data-bs-target="#suggest-tab-content" type="button" role="tab"
                            aria-controls="suggest-tab-content" aria-selected="true">Gợi ý phù hợp</a>
                    </div>
                    <p class="m-0 ms-auto d-flex align-items-baseline">
                        <span class="me-2 text-nowrap fw-bold">Lọc theo</span>
                        <select class="form-select" name="" id="filter-selector">
                            <option value="0">Tất cả</option>
                            <option value="1">Chưa xem</option>
                            <option value="2">Đã xem</option>
                            <option value="3">Đã duyệt</option>
                            <option value="4">Từ chối</option>
                            <option value="5">Rút hồ sơ</option>
                        </select>
                    </p>
                </div>
                <div class="w-100 py-3">
                    <div class="rounded-3 vh-100" style="background-color: #fbfbfc;">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="applicant-tab-content" role="tabpanel"
                                aria-labelledby="applicant-tab">
                                <div class="d-flex flex-column gap-3 p-3">
                                    @if (Model?.Applications != null && Model?.Applications.Count > 0)
                                    {
                                        foreach (var applied in Model!.Applications)
                                        {
                                            <div class="gap-3 bg-white p-3 rounded-3 shadow-sm profile-item" style="display: flex;">
                                                @{
                                                    var avatarUrl = "../../img/default_user.png";
                                                    if (@applied.Candidate?.AvatarUrl != null)
                                                        avatarUrl = "../." + @applied.Candidate?.AvatarUrl;
                                                }
                                                <img src="@avatarUrl" class="flex-shrink-0 rounded-pill" alt=""
                                                    style="width: 50px; height: 50px; object-fit: fill;">
                                                <div class="flex-grow-1 d-flex flex-column">
                                                    <span class="fw-bold">@applied.Candidate!.FullName</span>
                                                    <span class="">@Model.Title</span>
                                                    <span class="fst-italic" style="font-size: .8rem;">Ngày nộp:
                                                        @applied.CreateAt</span>
                                                </div>
                                                <div class="flex-grow-1 align-self-center status">
                                                    @{
                                                        switch (applied.Status.ToLower())
                                                        {
                                                            case "pending":
                                                                <span
                                                                    class="px-2 py-1 bg-warning rounded-2">@applied.Status.ToUpper()</span>
                                                                break;
                                                            case "viewed":
                                                                <span
                                                                    class="px-2 py-1 bg-info text-white rounded-2">@applied.Status.ToUpper()</span>
                                                                break;
                                                            case "passed":
                                                                <span
                                                                    class="px-2 py-1 bg-success text-white rounded-2">@applied.Status.ToUpper()</span>
                                                                break;
                                                            case "rejected":
                                                                <span
                                                                    class="px-2 py-1 bg-secondary text-white rounded-2">@applied.Status.ToUpper()</span>
                                                                break;
                                                            default:
                                                                <span
                                                                    class="px-2 py-1 bg-danger text-white rounded-2">@applied.Status.ToUpper()</span>
                                                                break;
                                                        }
                                                    }
                                                </div>
                                                <div class="d-flex align-items-start gap-2">
                                                    <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Xem hồ sơ">
                                                        <a class="btn btn-outline-info fs-5 rounded-3 border px-2 py-1 btn-view-profile"
                                                            role="button" data-bs-toggle="modal"
                                                            data-bs-target="#candidate-info-modal"
                                                            data-candidate-id="@applied.CandidateId"
                                                            data-apply-id="@applied.Id"><i class="fa-solid fa-eye"></i></a>
                                                    </span>
                                                    <span data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                        title="Duyệt hồ sơ">
                                                        <a class="btn btn-outline-primary fs-5 rounded-3 border px-2 py-1 btn-approval"
                                                            role="button" data-candidate-id="@applied.CandidateId" data-job-post-id="@applied.JobPostId" data-apply-id="@applied.Id" data-bs-toggle="modal" data-bs-target="#appoinment-modal"><i
                                                                class="fa-solid fa-circle-check"></i></a>
                                                    </span>
                                                    <span data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                        title="Từ chối hồ sơ">
                                                        <a class="btn btn-outline-danger fs-5 rounded-3 border px-2 py-1 btn-reject-profile"
                                                            role="button" data-apply-id="@applied.Id"><i
                                                                class="fa-solid fa-circle-xmark"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div
                                            class="align-self-center d-flex flex-column justify-content-center align-items-center bg-white rounded-3 p-5">
                                            <img src="~/img/no-result-found.jpg" alt=""
                                                style="width: 500px; height: 455px; object-fit: fill;" />
                                            <h5>Bài đăng chưa nhận được hồ sơ nào</h5>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade" id="suggest-tab-content" role="tabpanel"
                                aria-labelledby="suggest-tab">
                                <div class="d-flex flex-column">
                                    <div
                                        class="align-self-center d-flex flex-column justify-content-center align-items-center bg-white rounded-3 p-5">
                                        <img src="~/img/no-result-found.jpg" alt=""
                                            style="width: 500px; height: 455px; object-fit: fill;" />
                                        <h5>Tính năng đang phát triển</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-3 tab-pane fade" id="job-post-section-content" role="tabpanel" aria-labelledby="job-post-section">
            <div class="row">
                <div class="col-lg-8 tab-content d-lg-block">
                    <div class="bg-light p-4 mb-4 rounded-3">
                        <div class="job-detail__info--title">@Model?.Title</div>
                        <div class="d-flex justify-content-between my-4">
                            <div class="job-detail__info--section d-flex flex-column flex-lg-row">
                                <div class="job-detail__info--section-icon">
                                    <i class="far fa-money-bill-alt"></i>
                                </div>
                                <div class="job-detail__info--section-content">
                                    <div class="job-detail__info--section-content-title">Mức lương</div>
                                    <div class="job-detail__info--section-content-value">@Model?.Salary</div>
                                </div>
                            </div>
                            <div class="job-detail__info--section d-flex flex-column flex-lg-row">
                                <div class="job-detail__info--section-icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div class="job-detail__info--section-content">
                                    <div class="job-detail__info--section-content-title">Địa điểm</div>
                                    <div class="job-detail__info--section-content-value">
                                        @Model?.Employer.Company.District.Province.ProvinceName</div>
                                </div>
                            </div>
                            <div class="job-detail__info--section d-flex flex-column flex-lg-row">
                                <div class="job-detail__info--section-icon">
                                    <i class="fa-solid fa-hourglass-half"></i>
                                </div>
                                <div class="job-detail__info--section-content">
                                    <div class="job-detail__info--section-content-title">Hạn cuối</div>
                                    <div class="job-detail__info--section-content-value">
                                        @Model?.ExpiredDate.ToString("dd/MM/yyyy")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light p-4 mb-4 rounded-3">
                        <h5 class="mb-3 fw-bold">Chi tiết tuyển dụng</h5>
                        <div class="d-flex flex-column my-2">
                            <p class="fw-bold fs-6 mb-2">Mô tả công việc</p>
                            <div class="">
                                @Html.Raw(Model?.Description)
                            </div>
                        </div>
                        <div class="d-flex flex-column my-2">
                            <p class="fw-bold fs-6 mb-2">Yêu cầu ứng viên</p>
                            <div class="">
                                @Html.Raw(Model?.Requirement)
                            </div>
                        </div>
                        <div class="d-flex flex-column my-2">
                            <p class="fw-bold fs-6 mb-2">Quyền lợi</p>
                            <div class="">
                                @Html.Raw(Model?.Benefits)
                            </div>
                        </div>
                        <div class="d-flex flex-column my-2">
                            <p class="fw-bold fs-6">Địa điểm làm việc</p>
                            <div class="">
                                @Model!.Address
                            </div>
                        </div>

                        <p>Hạn cuối: @Model.ExpiredDate.ToString("dd/MM/yyyy")</p>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="p-4 mb-4 bg-light rounded-3">
                        <div class="job-detail__company d-flex flex-column gap-3">
                            <div class="d-flex gap-4">
                                <div target="_blank" class="job-detail__company-logo">
                                    <img class="img-responsive" alt="" src="../.@Model?.Employer.Company.LogoUrl">
                                </div>
                                <span target="_blank"
                                    class="job-detail__company-name">@Model?.Employer.Company.CompanyName</span>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                                <div class="job-detail__company-title flex-shrink-0"><i
                                        class="fa-solid fa-location-dot pe-2 text-primary"></i><span>Địa điểm</span>
                                </div>
                                <div class="job-detail__company-value">
                                    @Model?.Employer.Company.District.Province.ProvinceName</div>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                                <div class="job-detail__company-title flex-shrink-0"><i
                                        class="fa-solid fa-globe pe-2 text-primary"></i><span>Website</span></div>
                                <div class="job-detail__company-value"><a>@Model?.Employer.Company.WebsiteUrl</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 mb-4 bg-light rounded-3">
                        <div class="job-detail__company d-flex flex-column gap-3">
                            <h5>Thông tin chung</h5>
                            <div class="d-flex gap-3 align-items-center">
                                <div class="job-detail__info--section-icon text-white">
                                    <i class="fa-solid fa-medal"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <p class="m-0">Cấp bậc</p>
                                    <p class="m-0 fw-bold">@Model?.RequirementSkills.First().Level</p>
                                </div>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                                <div class="job-detail__info--section-icon text-white">
                                    <i class="fa-solid fa-hourglass-half"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <p class="m-0">Kinh nghiệm</p>
                                    <p class="m-0 fw-bold">@Model?.YearsOfExperience</p>
                                </div>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                                <div class="job-detail__info--section-icon text-white">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <p class="m-0">Số lượng tuyển</p>
                                    <p class="m-0 fw-bold">@Model?.NumberOfRecruits người</p>
                                </div>
                            </div>
                            <div class="d-flex gap-3 align-items-center">
                                <div class="job-detail__info--section-icon text-white">
                                    <i class="fa-solid fa-briefcase"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <p class="m-0">Hình thức làm việc</p>
                                    <p class="m-0 fw-bold">@Model?.EmploymentType.ToString()</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 mb-4 bg-light rounded-3">
                        <div class="job-detail__company d-flex flex-column gap-3">
                            <h5 class="mb-0">Danh mục</h5>
                            <div class="d-flex mb-3">
                                <a href="" class="text-dark px-2 rounded-pill" target="_blank"
                                    style="background-color: #f1eeee;">@Model?.JobType.JobTypeName</a>
                            </div>
                            <h5 class="mb-0">Kỹ năng</h5>
                            <div class="d-flex flex-wrap gap-3">
                                @{
                                    if (Model?.RequirementSkills != null && Model?.RequirementSkills.Count > 0)
                                        foreach (var skill in Model?.RequirementSkills!)
                                        {
                                            <a href="" class="text-dark px-2 rounded-pill" target="_blank"
                                                style="background-color: #f1eeee;">@skill.Skill.SkillName</a>
                                        }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- View Candidate Modal -->
<div class="modal fade" id="candidate-info-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Thông tin ứng viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex gap-4 py-3">
                    <img class="rounded-3 flex-shrink-0" id="modal-avatar-url" src="" alt=""
                        style="width: 90px; height: 90px;">
                    <div class="flex-grow-1">
                        <p class="mb-1">Họ tên: <span class="fw-bold" id="modal-candidate-name"></span></p>
                        <p class="mb-1">Ứng tuyển vị trí <span class="fw-bold text-primary"
                                id="modal-candidate-position"></span></p>
                        <p class="mb-1">Ngày nộp: <span class="fst-italic" id="modal-candidate-create-at"></span></p>
                    </div>
                    <div class="ms-auto btn btn-info text-white align-self-start">
                        <a class="text-white" role="button" id="modal-cv-url" target="_blank"><i
                                class="fa-solid fa-file me-2"></i>Xem CV</a>
                    </div>
                </div>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action btn-show-collapse active position-relative"
                        href="#skills-collapse" data-bs-toggle="collapse" role="button" aria-expanded="false"
                        aria-controls="skills-collapse">Kỹ năng <div
                            class=" position-absolute top-50 translate-middle-y" style="right: 15px;"><i
                                class="fa-solid fa-caret-right"></i></div></a>
                    <div id="skills-collapse" class="collapse show">
                        <p class="d-flex gap-3 p-2 flex-wrap candidate-skill-container" style="background-color: #f5f5f5;"></p>
                    </div>
                    <a class="list-group-item list-group-item-action btn-show-collapse" href="#experiences-collapse"
                        data-bs-toggle="collapse" role="button" aria-expanded="false"
                        aria-controls="experiences-collapse">Kinh nghiệm <div
                            class=" position-absolute top-50 translate-middle-y" style="right: 15px;"><i
                                class="fa-solid fa-caret-right"></i></div></a>
                    <div id="experiences-collapse" class="collapse p-2">
                        <div class="work-experience-container"></div>
                    </div>
                    <a class="list-group-item list-group-item-action btn-show-collapse" href="#projects-collapse"
                        data-bs-toggle="collapse" role="button" aria-expanded="false"
                        aria-controls="projects-collapse">Project <div
                            class=" position-absolute top-50 translate-middle-y" style="right: 15px;"><i
                                class="fa-solid fa-caret-right"></i></div></a>
                    <div id="projects-collapse" class="collapse p-2 project-container"></div>
                    <a class="list-group-item list-group-item-action btn-show-collapse" href="#educations-collapse"
                        data-bs-toggle="collapse" role="button" aria-expanded="false"
                        aria-controls="educations-collapse">Học vấn <div
                            class=" position-absolute top-50 translate-middle-y" style="right: 15px;"><i
                                class="fa-solid fa-caret-right"></i></div></a>
                    <div id="educations-collapse" class="collapse p-2 education-container"></div>
                    <a class="list-group-item list-group-item-action btn-show-collapse" href="#certificates-collapse"
                        data-bs-toggle="collapse" role="button" aria-expanded="false"
                        aria-controls="certificates-collapse">Chứng chỉ <div
                            class=" position-absolute top-50 translate-middle-y" style="right: 15px;"><i
                                class="fa-solid fa-caret-right"></i></div></a>
                    <div id="certificates-collapse" class="collapse certificate-container"></div>
                    <a class="list-group-item list-group-item-action btn-show-collapse" href="#cover-lette-collapse"
                        data-bs-toggle="collapse" role="button" aria-expanded="false"
                        aria-controls="cover-lette-collapse">Thư xin việc <div
                            class=" position-absolute top-50 translate-middle-y" style="right: 15px;"><i
                                class="fa-solid fa-caret-right"></i></div></a>
                    <div id="cover-lette-collapse" class="collapse">
                        <p class="bg-white p-2 cover-letter"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Appointment Modal -->
<div class="modal fade" id="appoinment-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="appointment-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appointment-label">Đặt lịch hẹn ứng viên</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="appointment-form">
            <div class="pb-3">
                <label class="form-label">Tiêu đề<span class="text-danger ms-1">*</span></label>
                <input id="appointment-modal-title" type="text" class="form-control" required>
            </div>
            <div>
                <label class="form-label">Nội dung<span class="text-danger ms-1">*</span></label>
                <div id="appointment-modal-content" class="">

                </div>
                @* <textarea id="appointment-modal-content" class="form-control" required style="height: 100px"></textarea> *@
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btn-close-appointment-modal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button id="btn-send-notification" type="button" class="btn btn-primary text-white">Gửi</button>
      </div>
    </div>
  </div>
</div>


@section Scripts {
    <script src="~/area/assets/plugins/ckeditor/ckeditor5/ckeditor.min.js"></script>
    <script src="~/js/JobPostDetailPage/jobpostdetail.js"></script>
    <script src="~/area/assets/plugins/signalr/signalr.min.js"></script>
    <script>
        const notificationConnection = new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .configureLogging(signalR.LogLevel.Information)
                .build();

        async function startConnection() {
            try {
                await notificationConnection.start();
                console.log("SignalR Notification Connected.");
            } catch (err) {
                console.log(err);
                setTimeout(startConnection, 1000);
            }
        }

        

        function sendNotificationToGroup(jobPostId, content) {
            notificationConnection.invoke("SendToGroup", "JobPost", `${jobPostId}`, content).catch(function (err) {
                return console.error(err.toString());
            });
        }

        function callAjaxToSaveNotification(candidateId, title, content, resourceId){
            $.ajax({
                type: "POST",
                dataType: "json",
                data: {
                    candidateId: candidateId, 
                    title: title, 
                    content: content, 
                    resourceId: resourceId
                },
                url: "/Employer/Notification/SaveNotification",
                success: function(res) {
                    if(!res){
                        toastr.warning("Hệ thông đang gặp trục trặc vui lòng quay lại sau");
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }

        $(document).ready(function() {
            callAjaxToJoinGroup();
            async function callAjaxToJoinGroup(){
                try{
                    var res = await $.ajax({
                        type: "get",
                        dataType: "json",
                        url: "/Notification/GetJobPostGroup"
                    });
                    if(res != null && res.length > 0){
                        await startConnection();
                        for(let i=0; i<res.length; i++){
                            notificationConnection.invoke('JoinGroup', 'JobPost', `${res[i]}`)
                        }
                    }else{
                        throw new exception();
                    }
                }catch(err){
                    console.log(err);
                }
            }

            $(document).on("click", "#btn-send-notification", async function () {
                let btnSendNotification = $(this);
                let jobPostId = btnSendNotification.data("job-post-id");
                let title = $("#appointment-modal-title").val();
                let content = $("#appointment-modal-content").find(".ck-content").html();
                let candidateId = btnSendNotification.data("candidate-id");
                await callAjaxToSaveNotification(candidateId, title, content, jobPostId);
                await sendNotificationToGroup(jobPostId, title);
                $("#btn-close-appointment-modal").trigger("click");
            });

            $("#filter-selector").on("change", function() {
                let selector = $(this);
                let selectedValue = selector.val();
                switch (selectedValue) {
                    case "1":
                        $(".profile-item").each(function() {
                            let profile = $(this);
                            let status = profile.find(".status>span").text();
                            if(status.toLowerCase() == "pending"){
                                profile.show();
                            }else{
                                profile.hide();
                            }
                        });
                        break;
                    case "2":
                        $(".profile-item").each(function() {
                            let profile = $(this);
                            let status = profile.find(".status>span").text();
                            if(status.toLowerCase() == "viewed"){
                                profile.show();
                            }else{
                                profile.hide();
                            }
                        });
                        break;
                    case "3":
                        $(".profile-item").each(function() {
                            let profile = $(this);
                            let status = profile.find(".status>span").text();
                            if(status.toLowerCase() == "passed"){
                                profile.show();
                            }else{
                                profile.hide();
                            }
                        });
                        break;
                    case "4":
                        $(".profile-item").each(function() {
                            let profile = $(this);
                            let status = profile.find(".status>span").text();
                            if(status.toLowerCase() == "rejected"){
                                profile.show();
                            }else{
                                profile.hide();
                            }
                        });
                        break;
                    case "5":
                        $(".profile-item").each(function() {
                            let profile = $(this);
                            let status = profile.find(".status>span").text();
                            if(status.toLowerCase() == "cancel"){
                                profile.show();
                            }else{
                                profile.hide();
                            }
                        });
                        break;
                    default: 
                        $(".profile-item").show();
                        break;
                }
            });

        });
    </script>
}